<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    {{!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.4/css/mdb.min.css" rel="stylesheet"> --}}
    <link href="/stylesheets/cover.css" rel="stylesheet">
    {{!-- <link rel='stylesheet' href='/stylesheets/style.css' /> --}}
  </head>
  <body class="text-center" style="">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead">
        <div class="inner">
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="/center">Home</a>
            <a class="nav-link" href="/login">Log in</a>
            <a class="nav-link" href="/signup">Sign up</a>
          </nav>
        </div>
      </header>

      <div class="centerer">
        <div class="search-wrapper">
          <h1 class="masthead-brand">sitepalette</h1>

          <form method="GET" action="/search">
            <input type="text" name="search" class="form-control mr-sm-2" placeholder="start your search..." >
            <button type="submit" class="btn btn-med btn-primary">Search</button>
            {{!-- <main role="main" class="inner cover">
            <a href="/plants" class="btn btn-lg btn-secondary">See all Plants</a>
            </main> --}}
          </form>
        </div>
      </div>



    </div>

      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    {{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script> --}}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src='/javascripts/script.js'></script>
  </body>
</html>