
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/base/signup.css' />
  </head>
{{!--
<form method="POST" action="/process-login">
    <label>
        Email:
        <input type="email" name="email" placeholder="greenfinger@plantpalette.com" />
    </label>
    <br />

    <label>
        Password:
        <input type="password" name="password" placeholder="*********"/>
    </label>
    <br />

    <button>Log in</button>
    <br />

</form> --}}

  <body class="text-center">
    <form method="POST" action="/process-login" class="form-signin">

      <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Log in</h1>

      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required autofocus>

      {{!-- <label for="username" class="sr-only">Username</label>
      <input type="text" id="inputUsername" class="form-control" placeholder="Username" required> --}}

      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>

      <button class="btn btn-med btn-primary btn-block" type="submit">Log in</button>
    <a href="/google/login" class="btn btn-med btn-primary btn-block" style="margin-top:5px">Google Login</a>

      <p class="mt-5 mb-3 text-muted">&copy; sitepalette</p>
    </form>

  </body>